<a href="{{ url_for('dashboard.home') }}"
   class="flex items-center space-x-1 text-gray-600 dark:text-gray-300 hover:text-blue-600 transition-fast text-lg">
   <i class="fa-solid fa-house text-base"></i>
   <span>Home</span>
</a>

<a href="{{ url_for('dashboard.jobs') }}"
   class="flex items-center space-x-1 text-gray-600 dark:text-gray-300 hover:text-green-600 transition-fast text-lg">
   <i class="fa-solid fa-briefcase text-base"></i>
   <span>Jobs</span>
</a>

<a href="{{ url_for('dashboard.profile') }}"
   class="flex items-center space-x-1 text-gray-600 dark:text-gray-300 hover:text-gray-400 transition-fast text-lg">
   <i class="fa-solid fa-gear text-base"></i>
   <span>Profile</span>
</a>

<a href="{{ url_for('dashboard.basket') }}"
   class="flex items-center space-x-1 text-gray-600 dark:text-gray-300 hover:text-gray-400 transition-fast text-lg">
   <i class="fa-solid fa-basket-shopping text-base"></i>
   <span>Basket</span>
</a>

<form action="{{ url_for('auth.logout') }}" method="POST">
   <button type="submit"
      class="flex items-center space-x-1 bg-red-600 hover:bg-red-700 p-2 rounded-md text-white text-base transition-fast">
      <i class="fa-solid fa-right-from-bracket"></i>
      <span>Logout</span>
   </button>
</form>
